<h3>Login</h3>

<form action="/login" method="POST">
    <label ><b>Username</b></label>
    <input type="text" placeholder="nombre" name="username">
  
    <label ><b>Password</b></label>
    <input type="password" placeholder="password" name="password">

  
    <input type="submit" value="Ingresar" class="btn">
  
  </form>

<!-- esto lo uso una vez y lo comento REGISTRO -->
<!-- <h3>Registro</h3> -->
<!-- <form action="/register" method="POST">
    <label ><b>Username</b></label>
    <input type="text" placeholder="Post Title" name="username">
  
    <label ><b>Password</b></label>
    <input type="password" placeholder="Post Title" name="password">

  
    <input type="submit" value="Registrar" class="btn">
  
  </form> -->